<?php
/**
 * Listrak Remarketing Magento Extension Ver. 1.1.5
 *
 * PHP version 5
 *
 * @category  Listrak
 * @package   Listrak_Remarketing
 * @author    Listrak Magento Team <magento@listrak.com>
 * @copyright 2013 Listrak Inc
 * @license   http://s1.listrakbi.com/licenses/magento.txt License For Customer Use of Listrak Software
 * @link      http://www.listrak.com
 * @see       Listrak_Remarketing_Block_Adminhtml_Productattributes_Init_Brands
 */
?>
<div class="message">
    <div class="mainText">Multiple attribute sets are missing a brand attribute
        mapping.
    </div>
    <div class="note">Please select an attribute from the dropdown to use for the
        attribute sets that include the
        selected attribute.
    </div>
    <div class="form">
        <?php echo $this->getFormInitScripts() ?>
        <?php echo $this->getFormHtml(); ?>
        <script type="text/javascript">
            bulkassignForm = new varienForm('bulk_form', '');
            $('bulkassign_submit').onclick = function () {
                bulkassignForm.submit();
            };
        </script>
        <?php echo $this->getFormScripts() ?>
    </div>
</div>
<style>
    .message {
        margin-bottom: 15px !important;
        min-height: 23px !important;
        padding: 8px 8px 4px 16px !important;
        border: 1px solid #FFD967 !important;
        background: 10px #FFFBF0 !important;
    }

    .mainText {
        color: #3D6611 !important;
        font-size: 0.95em !important;
        font-weight: bold !important;
    }

    .note {
        color: #777;
        font-size: 0.9em !important;
    }

    .form {
        margin-top: 6px !important;
    }
</style>