<?php
/**
 * Listrak Remarketing Magento Extension Ver. 1.1.5
 *
 * PHP version 5
 *
 * @category  Listrak
 * @package   Listrak_Remarketing
 * @author    Listrak Magento Team <magento@listrak.com>
 * @copyright 2013 Listrak Inc
 * @license   http://s1.listrakbi.com/licenses/magento.txt License For Customer Use of Listrak Software
 * @link      http://www.listrak.com
 * @see       Listrak_Remarketing_Block_Adminhtml_Productattributes
 */
?>
<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3
                    class="icon-head head-products"><?php echo Mage::helper('remarketing')->__('Product Attributes') ?></h3>
            </td>
            <td class="a-right">
                <?php echo '' . $this->getButtonsHtml() ?>
            </td>
        </tr>
    </table>
</div>
<?php if (sizeof($this->setsWithoutBrandAttribute()) > 3): ?>
    <?php echo '' . $this->getInitBrandsHtml(); ?>
<?php endif; ?>
<div>
    <?php echo '' . $this->getGridHtml() ?>
</div>